@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col text-center">
        <p class="h2">
            DJ Valeting Booking
        </p>
    </div>
</div>

<form action="Home/Add" method="post" class="needs-validation">
    <div class="row">
        <div class="col-lg-6 col-md-12 my-1">
            <label for="tbxName" class="form-label">Name</label>
            <input id="tbxName" name="tbxName" class="form-control" type="text" required>
            <div class="invalid-feedback">
                Please enter yout name.
            </div>

        </div>


        <div class="col-lg-6 col-md-12 my-1">
            <label for="tbxDate" class="form-label">Date</label>
            <input id="tbxDate" name="tbxDate" class="form-control" type="date">
        </div>

        <div class="col-lg-6 col-md-12 my-1">
            <label for="selFlexibility" class="form-label">Flexibility</label>
            <select id="selFlexibility" name="selFlexibility" class="form-select">
                <option value="0" selected disabled>-</option>
                <option value="1">+/- 1 Day</option>
                <option value="2">+/- 2 Days</option>
                <option value="3">+/- 3 Days</option>
            </select>
        </div>

        <div class="col-lg-6 col-md-12 my-1">
            <label for="selVehicleSize" class="form-label">Vehicle Size</label>
            <select id="selVehicleSize" name="selVehicleSize" class="form-select">
                <option value="0" selected disabled>-</option>
                <option value="1">Small</option>
                <option value="2">Medium</option>
                <option value="3">Large</option>
                <option value="4">Van</option>
            </select>
        </div>

        <div class="col-lg-6 col-md-12 my-1">
            <label for="tbxNumber" class="form-label">Contact Number</label>
            <input id="tbxNumber" name="tbxNumber" class="form-control" type="tel">
        </div>

        <div class="col-lg-6 col-md-12 my-1">
            <label for="tbxEmail" class="form-label">Email address</label>
            <input id="tbxEmail" name="tbxEmail" class="form-control" type="email">
        </div>

        <div class="col-12 my-1">
            <button id="btnSubmit" class="btn btn-primary float-end" type="submit">Submit</button>
        </div>

    </div>
</form>