@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col text-center">
        <p class="h2 text-success">
            Your Booking has been received.
        </p>
    </div>
</div>